@page "/"
@inject IGeolocationService GeolocationService
<!--
- #HEADER
-->

<header class="header">
    <div class="container">

        <NavLink href="s" class="logo">
            <img src="./assets/images/logo.png" width="364" height="58" alt="logo">
        </NavLink>

        <div class="search-view @(_toggleSearch ? "active" : "")" data-search-view>

            <div class="search-wrapper">
                <input type="search" name="search" placeholder="Search city..." autocomplete="off" class="search-field"
                       data-search-field>

                <span class="m-icon leading-icon">search</span>

                <button @onclick="ToggleSearch" class="icon-btn leading-icon has-state" aria-label="close search" data-search-toggler>
                    <span class="m-icon">arrow_back</span>
                </button>
            </div>

            <div class="search-result" data-search-result></div>

        </div>

        <div class="header-actions">

            <button @onclick="ToggleSearch" class="icon-btn has-state" aria-label="open search" data-search-toggler>
                <span class="m-icon icon">search</span>
            </button>

            <a href="javascript:void(0);" class="btn-primary has-state" data-current-location-btn>
                <span class="m-icon">my_location</span>

                <span class="span">Current Location</span>
            </a>

        </div>

    </div>
</header>


<main>
    <article class="container" data-container>

        <div class="content-left">
            <PageCurrentWeather Data="_currentWeather"/> 

            <!--
            - #FORECAST
            -->

            <PageFiveDaysForecast Data="_fiveDayForecast" />
        </div>


        <div class="content-right">
            <!--
            - #HIGHLIGHTS
            -->

            <section class="section highlights" aria-labelledby="highlights-label" data-highlights>
                <PageTodayHightlights Data="_todayHightlights" CWeatherData="_currentWeather"/>
            </section>


            <!--
            - #HOURLY FORECAST
            -->

            <section class="section hourly-forecast" aria-label="hourly forecast" data-hourly-forecast>
                <PageTodayForecast Data="_todayForecast" />
            </section>


            <PageFooter/>
        </div>
        <PageLoading />
    </article>
</main>
<Page404/>