<!--
- #FOOTER
-->
<footer class="footer">
    <p class="body-3">
        Copyright 2023 Collin. All Rights Reserved.
    </p>

    <p class="body-3">
        Powered By
        <a href="https://openweathermap.org/api" title="Free OpenWeather Api" target="_blank"
           rel="noopener">
            <img src="./assets/images/openweather.png" width="150" height="30" loading="lazy" alt="OpenWeather">
        </a>
    </p>
</footer>