<!--
- #404 SECTION
-->

<section class="error-content" data-error-content>

    <h2 class="heading">404</h2>

    <p class="body-1">Page not found!</p>

    <a href="#/weather?lat=51.5073219&lon=-0.1276474" class="btn-primary">
        <span class="span">Go Home</span>
    </a>

</section>